<launch>

  <node pkg="turtlesim" type="turtlesim_node" name="simnode"/>
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="tfnode" args="turtle1"/>
  <node pkg="tl_turtle_track" type="nav_points" name="nav_points" args="/usr/users/promo2018/simard_jea/ros-ws/src/tl_turtle_track/files/poses.txt" output="screen">
    <remap from="cmd_vel" to="/turtle1/cmd_vel" />
  </node>
  <node pkg="rqt_graph" type="rqt_graph" name="rqt"/>
  <!--<node pkg="tl_turtle_track" type="tl_turtle_track_node" name="nav_to_goal">
    <remap from="cmd_vel" to="/turtle1/cmd_vel" />
  </node> -->
  <!--<node pkg="rviz" type="rviz" name="viz"/> -->
</launch>
